hardware/~_autosave-ethernet_led_controller.kicad_pcb.lck
software/info_labels.afdesign
software/info_labels.afdesign~lock~
software/info_pcb.afdesign
software/info_pcb.afdesign~lock~
software/.vscode/extensions.json
